{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
				<div id="site-introduction">
					<img id="profile" src="https://avatars2.githubusercontent.com/u/31717542?s=460&v=4">
					<h2>박두리의 MySite 입니다.</h2>
					<p>
						Language : Python<br>
						Library : Django v2.0.6, mysqlclient v1.3.12, django-mathfilters v0.4.0<br>
						Database : mysql<br>
						<br>
						회원가입, 로그인, 로그아웃<br>
						방명록 등록, 삭제<br>
						게시판 등록, 수정, 삭제, 읽기, 찾기, 페이징, 조회수<br>
						<br>
						<a href="/guestbook">방명록</a>에 글 남기기<br>
					</p>
				</div>
{% endblock %}